<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entre | Development Help</title>
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center container">
    <main class="form-signin w-auto m-auto">
      <form>
        <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Entre</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
          <label for="floatingInput">E-mail</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
          <label for="floatingPassword">Senha</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

        <p class="mt-5 mb-3 text-muted">© 2022</p>
      </form>
    </main>    
    </body>
</html>